* {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  
}

body {
  font-family: Arial;
  display: grid;

}

header {
  grid-column: 1/13;
  padding: 5px;
  background: rgb(77, 76, 76);
  color: #fff;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside h2 {
  inline-size: min-content;
  
}

nav {
  align-items: right;
  color: #fff;
}

nav a {
  color: #7dcece;
  text-decoration: underline 3px !important;
  padding: 10px;
  text-align: right;
  text-decoration: none;
  margin-right: 0;
  
}


main {
  box-sizing: content-box;
  grid-column: 1/13;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;

}

aside {
  flex: 1;
  grid-column: 1/3;
  background-color: #edeef7;
  color: #4c6482;
  padding: 0;
  display: inline-flex;
  justify-content: flex-end;
}

section {
  flex: 2;
  position: relative;
  background-color: #edeef7;
  padding: 5px;
}

.sample-img {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 200px;
  border: 1px solid black;
}

footer {
  padding: 20px;
  text-align: center;
  background: #fff;
  color: black;
}


.box {
  width: relative;
  border-left: 3px solid #4c6482;
  padding-left: 3px;
}


/* Class Selectors */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #7dcece;
  
}
section li {
  justify-content: left;
}
.links-right {
  display: inline-block;
  margin-top: -10px;
  text-align: right;
  padding: 14px;
  /*text-decoration: underline 3px*/
  font-size: 17px;
  font-weight: bolder;

}
.links-left {

  display: inline-block;
  text-align: left;
  padding: 0;
  margin-top: -20px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;

}